# Xcode junk
*.xcuserstate
*.xcscmblueprint
*.xcworkspace
*.xcuserdata
*.xcsettings
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
project
Contents
xcschememanagement
Weather-Economy-RA/Weather-Economy-RA/Info.plist

# Firebase config
GoogleService-Info.plist

# macOS junk
.DS_Store
